@import '~antd/dist/antd.css';
body{
  background: #FF512F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.header{
  height: 80px;
  background-color: #0c2531;
}
//css login view
.login{
  .box, .row{
    display: flex;
  }
  .box{
    flex-direction: column;
    flex: auto;
  }
  .content, .aside{
    overflow-y: auto;
  }
  .row{
    margin-top: 30px;
  }
  .content{
    width: 90%;
    flex: 2;
    margin: auto;
  }
  .aside{
    flex: 2;
  }
}
//css urls form
.forms{
  background-color: #ffffff;
  border:1px solid #2C3E50;
  padding: 20px 20px;
  border-radius: 10px;
}
.inputs {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #009432;
}
.inputs:focus {
  border: 3px solid #1289A7;
}
.green{
  margin-top: 20px;
  background-color: #009432;
  color: #ffffff;
  height: 30px;
  width: 100px;
  border-radius: 4px;
  border: 2px solid #006266;
  font-weight: 900;
  cursor: pointer;
  
}
.green:disabled{
  background-color: #ffffff;
  color: #000000;
  cursor: not-allowed;
}
ul li{
  list-style: none;
}